@charset "pt-BR";
/*gerais*/
*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: rgb(177, 176, 176);
}
/*cabeçalho*/

header{
    background-image: url(imagens/bg-3.jpg);
    height: 500px;
    width: 100%;
    background-size:  cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-position: right center;
  
}

header h1 {
    text-align: center;
    padding-top: 250px;
    text-transform: uppercase;
}

nav ul{
    float: right;
    position: relative;
    padding-top: 0px; 
    top: -300px;
    margin-right: 20px;
}

nav>ul>li{
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.301);
    border: 1px solid white;
    width: 50px;
    margin: -20px 6px;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

header h3 {
    display: inline-block;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 20px;
    border-bottom: 4px solid white;
    color: white;
}

/*Contéudo principal*/

main{
    max-width: 900px;
    min-width: 400px;
    margin : auto;
    text-align: justify;
}

.conteudo{
    background-color: white;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 10px;
}

.titulo_curso {
    background-color: rgb(219, 218, 218);
    margin-bottom: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}
p{
    margin-bottom: 20px;
}

.saiba-mais{
    color: black;
    background-color: rgb(188, 182, 221);
    padding: 5px;
    margin-left: 20px;
    text-align: center;  
}

footer{
    text-align: center;
    margin-top: 50px;
    height: 10px;
    background-color: rgb(102, 101, 101);
    padding: 50px;
}






